<ul class="list favorites-cards-list">
    <li class="favorites-cards-list__item">
        <img class="img favorites-cards-list__img" src="./../src/img/123.jpg" alt="" />
        <button class="btn favorites-cards-list__button">
            <i class="icon icon-cancel"></i>
        </button>
    </li>
</ul>