.main {
  margin-bottom: calculateRem(20);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards-list {
  margin-bottom: calculateRem(14);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__img {
    @include for-size(phone-only) {
      min-height: 160px;
      max-height: 307px;
    }

    @include for-size(tablet-portrait-up) {
      min-height: 155px;
      max-height: 233px;
    }

    @include for-size(tablet-landscape-up) {
      min-height: 155px;
      max-height: 207px;
    }

    @include for-size(desktop-up) {
      min-height: 150px;
      max-height: 225px;
    }
  }

  @include for-size(phone-only) {
    &__item {
      flex-basis: 100%;
      &:not(:last-child) {
        margin-bottom: 3.5%;
      }
    }
  }

  @include for-size(tablet-portrait-up) {
    &__item {
      flex-basis: 49%;
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 2%;
      }
    }
  }

  @include for-size(tablet-landscape-up) {
    &__item {
      flex-basis: 32.5%;
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 1.25%;
      }
    }
  }

  @include for-size(desktop-up) {
    &__item {
      flex-basis: 23.5%;
      &:not(:nth-last-child(-n + 4)) {
        margin-bottom: 1.5%;
      }
    }
  }
}

.button-load-more {
  display: none;
  margin: 0 auto;
  padding: 6px 22px;
  background-color: $color-button2;
  font-size: $font-size-small2;
  color: $font-color2;
  border-radius: 15px;
  outline: none;
  margin-bottom: calculateRem(35);
}

.button-load-more.visible {
  display: block;
}
