.favorite-title {
  color: $color-button;
  font-size: $font-size-medium;
  margin-bottom: calculateRem(20);
}

.favorites-cards-list {
  margin-bottom: calculateRem(14);
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  &__img {
    filter: grayscale(0.7);
    object-fit: cover;

    @include for-size(phone-only) {
      height: 200px;
    }

    @include for-size(tablet-portrait-up) {
      height: 185px;
    }

    @include for-size(tablet-landscape-up) {
      height: 180px;
    }

    @include for-size(desktop-up) {
      height: 225px;
    }
  }
  &__item {
    position: relative;

    &:hover .favorites-cards-list__img {
      filter: grayscale(0);
      transition: 0.3s linear;
    }
    &:hover .favorites-cards-list__button {
      display: block;
      transition: 0.3s linear;
    }

    @include for-size(phone-only) {
      flex-basis: 100%;
      &:not(:last-child) {
        margin-bottom: 3.5%;
      }
    }

    @include for-size(tablet-portrait-up) {
      flex-basis: 49%;
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 2%;
      }
      &:nth-child(odd) {
        margin-right: 2%;
      }
    }

    @include for-size(tablet-landscape-up) {
      flex-basis: 32.5%;
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 1.25%;
      }
      &:not(:nth-child(3n)) {
        margin-right: 1.25%;
      }
    }

    @include for-size(desktop-up) {
      flex-basis: 23.5%;
      &:not(:nth-last-child(-n + 4)) {
        margin-bottom: 1.5%;
        margin-right: 1.5%;
      }
      &:not(:nth-child(4n)) {
        margin-right: 1.5%;
      }
    }
  }

  &__button {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 7px;
    right: 5px;
    color: $font-color2;
  }
}
