.header__btn-favorites {
  border: none;
  width: 109px;
  cursor: pointer;
  outline: none;
  display: block;
  background-color: transparent;
  color: $color-button;
  font-size: $font-size-medium;
  outline: none;

  @include for-size(phone-only) {
    margin: 0 auto calculateRem(35);
  }
  @include for-size(tablet-portrait-up) {
    margin: 0 auto calculateRem(35);
  }
  @include for-size(tablet-landscape-up) {
    margin: 0 calculateRem(26) calculateRem(127) auto;
  }
  @include for-size(desktop-up) {
    margin: 0 calculateRem(26) calculateRem(127) auto;
  }
  &-icon {
    font-size: 17px;
    line-height: 1.2;
  }
}

.header {
  padding-top: calculateRem(33);
  padding-bottom: calculateRem(30);
  @include for-size(phone-only) {
    width: 80%;
    margin: 0 auto;
  }
  @include for-size(tablet-portrait-up) {
    width: 80%;
    margin: 0 auto;
  }
}

.header__actions {
  text-align: center;
}

.actions {
  &__logo-link {
    margin: 0 auto calculateRem(46);
    display: block;
    width: 302px;
    @include for-size(phone-only) {
      width: 257px;
    }
  }
  &__logo {
    display: block;
    @include for-size(phone-only) {
      width: 100%;
    }
  }
  &__input {
    width: 450px;
    border-radius: 15px;
    border-color: $font-color;
    outline: none;
    height: 26px;
    padding-left: calculateRem(16);
    font-size: $font-size-small;
    margin-right: calculateRem(15);

    @include for-size(phone-only) {
      width: 65%;
    }
    @include for-size(custom-size) {
      margin-bottom: calculateRem(13);
      width: 85%;
    }
    @include for-size(tablet-portrait-up) {
      width: 75%;
    }
  }

  &__button {
    padding: 5px 21px;
    background-color: $color-button2;
    font-size: $font-size-small2;
    color: $font-color2;
    border-radius: 15px;
    outline: none;
  }
}
