.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 45, 58, 0.7);
}

.modal--hidden {
  display: block;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;

  @include for-size(phone-only) {
    width: 85vw;
  }

  @include for-size(tablet-portrait-up) {
    width: 60vw;
  }

  &__img-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calculateRem(16);
  }
  &__img {
    height: 60vh;
    object-fit: contain;
  }

  &__actions {
    display: flex;
    background-color: $color-button;
    width: 128px;
    padding: calculateRem(8) calculateRem(8);
    border-radius: 45px;
    margin: 0 auto;
    &-button {
      display: inline-block;
      background-color: transparent;

      &--white {
        color: $font-color2;
      }
      &--yellow {
        color: $color-button2;
      }

      &--mr {
        margin-right: calculateRem(16);
      }
      &--mmr {
        margin-right: calculateRem(-6);
      }
    }
  }
}

.icon {
  font-size: 14px;
}
